@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 300;
}

body {
    background-color: #F66000;
}

.principal {
    margin-left: 3em;
}

header {
    color: white;
    font-size: 2.2em;
    width: 40%;
    text-align: center;
}

main {
    display: flex;
}

.products-container > h2 {
    color: white;
    font-size: 2.5em;
}

.productsImg {
    width: 7em;
}

.products-container {
    width: 50vw;
    margin-left: 5em;
}

.products-square {
    width: 10em;
    margin-top: 2em;
}

.products {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.shopp-container {
    padding-left: 4em;
}

.shopp-rectangle {
    background-color: #ffffffc4;
    width: 22vw;
    height: 65vh;
    border-radius: 5em;
    position: absolute;
}

.shopp-square {
    background-color: #a3a3a370;
    width: 15vw;
    height: 30vh;
    border-radius: 2em;
    position: relative;
    left: 3em;
    top: 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopp-square > p {
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
}

.cart-icon {
    width: 3.5vw;
} 

.shopp-btn {
    width: 11vw;
    height: 7vh;
    background-color: #a3a3a370;
    border-radius: 2em;
    position: relative;
    left: 4.5em;
    top: 9em;
    display: flex;
    justify-content: space-around;
}

.plus-circle, .minus-circle {
    margin-top: 0.6em;
    width: 2vw;
    height: 4vh;
}